@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 450px;
    height: auto;
    background-color: #FFFF;
    border-radius: 15px;
    padding: 20px;
}

.form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.form-header svg{
    width: 70px;
    height: 70px;
}
.success{
    color: green;
}
.error{
    color: red;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input:focus, input:hover, 
textarea:focus, textarea:hover,
select:focus, select:hover {
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 20px 5px rgb(214, 213, 213) !important;
}
.input-box{
    background-color: #FFFF;
    border: 1px solid #A79E9E;
    border-radius: 10px;
    color: black;
    height: 50px;
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
}

#submit{
    background-color: #2C244D;
    border: 1px solid #FFFF;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: #ffff;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;
    margin: 20px 20px 0 20px;
    height: 50px;

}

.row{
    margin: 10px 20px 10px 20px;
}

a ,h3{
    text-decoration: none;
    font-family: Arial;
    font-weight: 200;
    color: #2C244D;
    transition: 0.4s ease-in-out;
}


