.blog-section{
    width: 100%;
    background-color: #F3F4F6;
}
.blogs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;
}
.blog-content{
    background-color: #FFFF;
    width: 400px;
    height: 420px;
    border-radius: 8px;
    border: 1px solid rgb(197, 194, 194);
    margin: 10px;
    cursor: pointer;

}

.blog-content > img{
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Blog detail section */

.blog-detail-section{
    width: 100%;
    height: auto;
    background-color: #FFFF;
}

.article-detail-header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.article-detail-header > h3{
    color:black;
    font-size: 18px;
}

.article-detail-body p{
    padding: 0 0 0 20px;
    color: black;
    font-size: 16px;
}

.article-detail-bottom h3{
    color:black;
    font-size: 16px;
    padding: 20px 0 0 20px;
}