@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2C244D;
}

.main{
    width: 100%;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 105vh;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log{
    margin-left: 50px;
}

.log img{
    width: 150px;
    height: 140px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    font-size: 14px;
    padding: 15px;
}

ul li a{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: #FFFF;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #C2E7FF;
}

.letConnectBtn {
    border-radius: 5px;
    border: 1px solid #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.letConnectBtn a{
    text-decoration: none;
    font-family: Arial;
    color: #FFFF;
    transition: 0.4s ease-in-out;
}

.welcome{
    margin-left: 50px;
    width: 200px;
    padding: 30px 0 30px 0;
}

/* style for about me section */

.content{
    display: flex;
    justify-content: space-between;
}

.leftSide{
    margin-left: 50px;
}

.leftSide h1,p{
    padding: 20px 0 20px 0;
    color:#ffff;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #FFFF;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFF;
}

p{
    font-family: 'Roboto';
    font-size: 28px;
}

.rightSide{
    margin-right: 50px;
}


.rightSide img{
    width: 500px;
}

.letConnectBtnSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #C2E7FF;
}


/* style for skills section */
.skills-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.skills-content{
    width: 70%;
    height: 450px;
    background-color: #151515;
    border-radius: 25px;
    border: 8px solid #2C244D;
}

.intro-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.skills-description{
    font-size: 21px;
    font-weight: 100;
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: center;

}
.skills-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.skills-radio-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 18px solid #FFFF;
    margin: 20px;
}

/* My work section */

.my-work-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #3F2435;
}

.my-work-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs{
    display: flex;
    justify-content: space-around;
    width: 60%;
    border: 2px solid #ffff;
    margin-bottom: 20px;
    border-radius: 25px;
}

.tabBtn{
    width: 250px;
    border: 0;
    padding: 10px;
    background-color: #3F2435;
    color: #ffff;
    font-size: 21px;
}

.my-work-container{
    display: flex;
    justify-content: center;
}
.my-work-description{
    font-size: 21px;
    font-weight: 100;
    width: 60%;
    text-align: center;
}

.my-work-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* style for contact me section */

.contact-me-section{
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    margin: 25px;
}
.contact-me-left-side {
    margin: 50px;
}

.contact-me-right-side{
    margin: 20px;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input:focus, input:hover, 
textarea:focus, textarea:hover,
select:focus, select:hover {
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 15px 5px rgb(102, 101, 101) !important;
}
.input-box{
    background-color: #2C244D;
    border: 1px solid #FFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #ffff;

}

#submit{
    background-color: #2C244D;
    border: 1px solid #FFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #ffff;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;

}

/* Style for subscribe section */
.subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
}
.subscribe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 250px;
    background-color: #ffff;
    border: 5px solid #3F2435;
    border-radius: 20px;
}

/* Style for footer section */
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #3F2435;
}

.footer-left-side{
    margin-left: 120px;
    margin-top: 100px;
}

.footer-right-side{
    margin-right: 150px;
    margin-top: 100px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
}

.icons{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.icon-container{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #FFFF;
    background-color: #FFFF;
}

