@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0d1b2a;
}

.loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    }

.loading-indicator.show{
    display: flex;
}

.main{
    width: 100%;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 110vh;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: #fff;
    z-index: 1;
    transition: background-color 0.5s ease;
}

.scrolled {
    background-color: #0d1b2a;
}

.log{
    margin-left: 35px;
}
.log img{
    width: 75%;
    height: 50%;
}

.log svg{
    display: none;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    font-size: 14px;
    padding: 15px;
}

ul li a{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: #FFFF;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #C2E7FF;
}

.letConnectBtn {
    border-radius: 5px;
    border: 1px solid #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.letConnectBtn a{
    text-decoration: none;
    font-family: Arial;
    color: #FFFF;
    transition: 0.4s ease-in-out;
}

.welcome{
    margin-left: 50px;
    width: 200px;
    padding: 10px 0 30px 0;
    margin-top: 150px;
}

.welcomeButton {
    border-radius: 5px;
    border: 1px solid #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.welcomeButton a{
    text-decoration: none;
    font-family: Arial;
    color: #FFFF;
    transition: 0.4s ease-in-out;
}

/* style for about me section */

.content{
    display: flex;
    justify-content: space-between;
}

.leftSide{
    margin-left: 50px;
    width: 100%;
}

.leftSide h1,p{
    padding: 0px 0 20px 0;
    color:#ffff;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #FFFF;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFF;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFF; 
}

p{
    font-family: 'Roboto';
    font-size: 26px;
}

.rightSide{
    margin-right: 50px;
    width: 100%;

}

.rightSide img{
    width: 90%;
}

/* let's connect section */
.let-connect-section-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.let-connect-section-content span {
    color:#fff;
}

.let-connect-section-content a{
    background-color: #fff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
}


/* style for skills section */
.skills-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.skills-content{
    width: 80%;
    height: auto;
    background-color: #151515;
    border-radius: 25px;
    border: 8px solid #2C244D;
    padding: 40px;
    margin: 0px 0 50px 0;
}

.intro-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-titles p{
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    font-family: 'Roboto';
}

.skills-container{
    display: flex;
    justify-content: center;

}
.skills-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.skills-radio-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 18px solid #FFFF;
    margin: 20px;
}

/* My work section */

.my-work-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #3F2435;
}

.my-work-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .tabs {
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 2px solid #ffff;
  }
  
  .tabBtn {
    background-color: #3F2435;
    border: 0;
    color: #ffff;
    cursor: pointer;
    font-size: 21px;
    padding: 10px;
    transition: 0.3s;
    width: 200px;
  }
  
  .tabBtn:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .tabBtn:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .tabBtn:not(:first-child):not(:last-child){
    border-radius: 0;
  }
  
  
  

.tabBtn:hover{
    background-color: #2C244D;
}

.tabs button.active{
    background-color: #696672;
}

.my-work-container{
    display: flex;
    justify-content: center;
}
.my-work-description{
    font-size: 21px;
    font-weight: 100;
    width: 60%;
    text-align: center;
}

.my-work-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.my-work-box img{
    width: 90%;
}

/* style for contact me section */

.contact-me-section{
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    margin: 25px;
}
.contact-me-left-side {
    margin: 50px;
}

.contact-me-right-side{
    margin: 20px;
}
form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-control input, textarea{
    background-color: #2C244D;
    border: 1px solid #FFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #ffff;
    width: 100%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control textarea:focus{
    outline: 0;
}

.input-control.success textarea{
    border-color: #09c372;
}

.input-control.error textarea{
    border-color: #ff3860;
}

#submit{
    background-color: #2C244D;
    border: 1px solid #FFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: #ffff;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 18px;
    width: 100%;
}

/* Style for subscribe section */
.subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
}
.subscribe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 250px;
    background-color: #ffff;
    border: 5px solid #3F2435;
    border-radius: 20px;
}

.subscribe-intro{
    color:black; 
    width: 350px;
}

.subscribe-field-wrapper{
    position: relative;
    height: 60px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.subscribe-field-wrapper .field{
    width: 100%;
    height: 100%;
}

.subscribe-field-wrapper .field input{
    width: 100%;
    height: 100%;
    border: 2px solid #edede9;
    border-radius: 5px;
    padding: 0px 130px 0px 15px;
    font-size: 20px;
    outline: none;
}

.s-btn{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 100px;
    color: #fff;
    background-color: #664AFF;
    border-radius: 5px;
    line-height: 40px;
    cursor: pointer;
}

/* Style for footer section */
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #3F2435;
}

.footer-left-side{
    margin-left: 120px;
    margin-top: 100px;
}

.footer-right-side{
    margin-right: 150px;
    margin-top: 100px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
}

.icons{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.icon-container{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #FFFF;
    background-color: #FFFF;
}



@media screen and (max-width: 480px) {
    .main{
        width: 100%;
        background-image: none;
        background-position: center;
        background-size: cover;
        height: 105vh;
    }
    .navBar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .log{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
    }
    .log svg{
        display: block;
        cursor: pointer;
    }
    .navigation{
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        margin: 0px;
        padding-bottom: 20px;
        transition: 0.5s;
    }

    .letConnectBtn {
        width: 100%;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    ul li{
        list-style: none;
        font-size: 14px;
        padding: 15px;
    }
    
    ul li a{
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        color: #FFFF;
        transition: 0.4s ease-in-out;
    }
    
    ul li a:hover{
        color: #C2E7FF;
    }
    
    .welcome{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        width: 100%;
    }

    .welcomeButton {
        width: 80%;
        border-radius: 5px;
        border: 1px solid #FFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    /* style for about me section */
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .leftSide{
        width: 85%;
        margin-left: 0px;
        align-items: center;
    }

    .leftSide h1,p{
        padding: 20px 0 20px 0;
        color:#ffff;
    }
    
    
    .rightSide{
        width: 100%;
        margin-right: 0px;
    }
    
    .rightSide img{
        width: 100%;
    }

    /* let's connect section */
    .let-connect-section{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .let-connect-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        padding-top: 10px;
    }

    /* style for skills section */
    .skills-section{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .skills-content{
        width: 70%;
        height: auto;
        background-color: #070707;
        border-radius: 25px;
        border: 8px solid #2C244D;
    }
    
    .intro-titles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .skills-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .skills-radio-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 18px solid #FFFF;
        margin: 20px;
    }
    
    /* My work section */
    
    .my-work-section{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: #3F2435;
    }
    
    .my-work-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tabs{
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        width: 60%;
        border: 2px solid #ffff;
        margin-bottom: 20px;
        border-radius: 25px;
    }
    
    .tabBtn{
        width: 200px;
        border: 0;
        padding: 10px;
        background-color: #3F2435;
        color: #ffff;
        font-size: 21px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .tabBtn:hover{
        background-color: #2C244D;
    }
    
    .tabs button.active{
        background-color: #696672;
    }
    
    .my-work-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .my-work-description{
        font-size: 21px;
        font-weight: 100;
        width: 60%;
        text-align: center;
    }
    
    .my-work-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    
    /* style for contact me section */
    
    .contact-me-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 100%;
    }
    .contact-me-left-side {
        margin: 0px;
        width: 70%;
        padding: 20px 0 0 0;
    }

    .contact-me-left-side img{
        width: 100%;
    }
    
    .contact-me-right-side{
        margin: 0px;
        width: 90%;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form > input:focus, input:hover, 
    textarea:focus, textarea:hover{
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 15px 5px rgb(102, 101, 101) !important;
    }
    .input-box{
        background-color: #2C244D;
        border: 1px solid #FFFF;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        color: #ffff;
    
    }
    
    #submit{
        background-color: #2C244D;
        border: 1px solid #FFFF;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        color: #ffff;
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 18px;
    
    }
    
    /* Style for subscribe section */
    .subscribe-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50px;
        width: 100%;
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 80%;
        height: auto;
        background-color: #ffff;
        border: 5px solid #3F2435;
        border-radius: 20px;
    }

    .subscribe-intro{
        color:black; 
        width: 80%;
        font-size: 16px;
    }
    .subscribe-body{
        border: 3px solid #151515;
        border-radius: 8px; 
        width: 80%; 
        height: 40px; 
        display: flex; 
        justify-content: space-between; 
        margin: 10px;
    }
    
    /* Style for footer section */
    .footer-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #3F2435;
    }
    .footer-left-side{
        margin-left: 0px;
        margin-top: 120px;
    }
    .footer-right-side{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-right: 0px;
        margin-top: 10px;
    }
    .icons{
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }
    .icon-container{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 2px solid #FFFF;
        background-color: #FFFF;
    }
    .copyright{
        margin: 10px;
    }
}

